doctype html
html(lang='en')
    head
        title Save To Drive
        link(href="/styles/react-redux-toastr.min.css" media="all" rel="stylesheet")
    body
        #app
        script(src='/js/libs/Pace.js')
        script(src='/app.js')
